.header {
  background-color: #00b1ea;
  color: #002442;
  display: flex;
  height: 70px;
  justify-content: space-between;
  position: fixed;
  top: 0;
  transition: all 0.25s;
  width: 100vw;
  z-index: 1;
}

.wallet-container {
  display: flex;
}

.wallet-container .total {
  margin-left: 15px;
}

.show-form-btn {
  display: none;
}

.user-info {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 27px;
  width: 100%;
}

@media screen and ( max-width : 1024px ) {

  .show-form-btn {
    display: block;
  }

  .profile {
    display: none;
  }
}
