.expenses-table {
  margin-left: 300px;
  width: 100%;
  margin-top: 70px;
}

.expenses-table button {
  text-transform: capitalize !important;
}

tbody tr:hover {
  background-color: #deecf7 !important;
  cursor: pointer !important;
}

th , td {
  border-right: 1px solid #65656510;
}

thead tr th {
  background-color: #acd1f1 !important;
  font-size: 0.9em !important;
  font-weight: 600 !important;
}

th:last-child , td:last-child {
  border-right: none;
}

.edit-btn {
  background-color: transparent ! important;
  border: none ! important;
  color: green ! important;
}

.delete-btn {
  background-color: transparent ! important;
  border: none ! important;
  color: red ! important;
}

.edit-btn:hover , .delete-btn:hover {
  background-color: transparent ! important;
  transform: scale(1.03);
}

@media screen and ( max-width : 1024px ) {

  .expenses-table {
    margin-left: 0 ! important;
    width: 100% ! important;
  }
}
