.expenses-table {
  margin-left: 300px;
  width: 100%;
  margin-top: 70px;
}

.expenses-table button {
  text-transform: capitalize !important;
}

tbody tr:hover {
  background-color: #deecf7 !important;
}

th , td {
  border-right: 1px solid #65656510;
  font-size: 0.9em !important;
}

thead tr th {
  background-color: #acd1f1 !important;
  font-size: 0.9em !important;
  font-weight: 600 !important;
}

th:last-child , td:last-child {
  border-right: none;
}

.edit-btn {
  background-color: transparent ! important;
  border: none ! important;
  color: green ! important;
  cursor: pointer !important;
}

.delete-btn {
  background-color: transparent ! important;
  border: none ! important;
  color: red ! important;
  cursor: pointer !important;
}

.edit-btn:hover , .delete-btn:hover {
  background-color: transparent ! important;
  transform: scale(1.03);
}

@media screen and ( max-width : 900px ) {

  .expenses-table {
    margin-left: 0 ! important;
    width: 100% ! important;
  }

  thead {
    display: none !important;
  }

  tr {
    display: flex !important;
    flex-direction: column !important;
    width: 100vw !important;
    font-size: 1em !important;
  }

  td:first-of-type {
    display: none;
  }

  td {
    padding: 0 !important;
  }

  td div {
    border-right: 1px solid #65656510 !important;
    padding: 8px !important;
  }

  td div:first-of-type {
    font-weight: 600;
  }
}
